{% extends "base.html" %}

{% block head %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <style type="text/css">
        #content {
            max-width: 700px;
        }
        ul {
            padding: 0;
            list-style-type: none;
        }
        li {
            max-width: 200px;
            margin: 5;
            cursor: pointer;
            border: 1px solid #bcdff1;
            border-radius: 6px;
        }
        li:hover {
            background-color: #d9edf7;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Nominees</h1>
    <br />
    <center>
        <form method="post">
            {{ form.hidden_tag() }}
            <ul id="nomineesSortable">
            {% for name in nominees %}
                <li title="Drag & drop to prioritize votes (top being highest)" id="{{ name }}">{{ name }}</li>
            {% endfor %}
            </ul>
            <br />
            <div>
                <p>
                    <input class="btn btn-lg btn-primary" type="submit" value="Vote!" />
                    {% if revote %}
                    <a class="btn btn-lg btn-primary" href="results">Skip to Results</a>
                    {% endif %}
                </p>
            </div>
        </form>
    </center>
{% endblock %}

{% block footer %}
    <script>
        var $sortables = $("#nomineesSortable").sortable({
            update: function(event, ui) {
                var sortedItems = $(this).sortable('toArray');
                $("#nomineesHidden").val(sortedItems.join(","));
            },
            create: function(event, ui) {
                var sortedItems = $(this).sortable('toArray');
                $("#nomineesHidden").val(sortedItems.join(","));
            } 
        });
    </script>
{% endblock %}
