{% extends "base.html" %}

{% block head %}
    <style type="text/css">
        #content {
            max-width: 700px;
        }
        ul {
            padding: 0;
            list-style-type: none;
        }
        li {
            max-width: 200px;
            padding: 5;
            cursor: pointer;
        }
        li:hover {
            background-color: #e3f2fd;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Nominees</h1>
    <br />
    <center>
        <form method="post">
            {{ form.hidden_tag() }}
            <ul id="nomineesSortable">
            {% for name in nominees %}
                <li id="{{ name }}">{{ name }}</li>
            {% endfor %}
            </ul>

            <br /><br />
            <div>
                <p><input class="btn btn-lg btn-primary" type="submit" value="Vote!"></p>
            </div>
        </form>
    </center>
{% endblock %}

{% block footer %}
    <script>
        var $sortables = $("#nomineesSortable").sortable({
            update: function(event, ui) {
                var sortedItems = $(this).sortable('toArray');
                $("#nomineesHidden").val(sortedItems.join(","));    
            }
        });
    </script>
{% endblock %}
